<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Restaurant</h5>
        </div>
        <div class="card-body">
          <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
            <input type="hidden" name="order_ID" [value]="service.formData.order_ID">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="prod_ID.valid" [class.red-icon]="prod_ID.invalid && prod_ID.touched"></i>
                  </div>
                </div>
                <input name="prod_ID" #prod_ID="ngModel" [(ngModel)]="service.formData.prod_ID" class="form-control"
                  placeholder="Menu item" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white">
                    <i class="far fa-credit-card"  [class.green-icon]="order_Total.valid" [class.red-icon]="order_Total.invalid && order_Total.touched"></i>
                  </div>
                </div>
                <input name="order_Total" #order_Total="ngModel" [(ngModel)]="service.formData.order_Total" 
                class="form-control" placeholder="16 Digit Card Number" required maxlength="16" minlength="16">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-7">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                      <i class="fas fa-calendar-alt"  [class.green-icon]="order_DATETIME.valid" [class.red-icon]="order_DATETIME.invalid && order_DATETIME.touched"></i>
                    </div>
                  </div>
                  <input name="order_DATETIME" #order_DATETIME="ngModel" [(ngModel)]="service.formData.order_DATETIME" class="form-control"
                    placeholder="MM/YY" required maxlength="5" minlength="5">
                </div>
              </div>
              <div class="form-group col-md-5">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                      <i class="fas fa-key"  [class.green-icon]="order_QTY.valid" [class.red-icon]="order_QTY.invalid && order_QTY.touched"></i>
                    </div>
                  </div>
                  <input type="password" name="order_QTY" #order_QTY="ngModel" [(ngModel)]="service.formData.order_QTY" class="form-control" placeholder="order_QTY"
                  required  maxlength="3" minlength="3">
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
