<div class="jumbtron">
  <h1 class="display-4 text-center">Cash Out</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
            <input type="hidden" name="order_ID" [value]="service.formData.order_ID">
            <div class="form-group">
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white">
                    <i class="far fa-credit-card"  [class.red-icon]="order_ID.valid" [class.red-icon]="order_ID.invalid && order_ID.touched"></i>
                  </div>
                </div>
                <input name="order_ID" #order_ID="ngModel" [(ngModel)]="service.formData.order_ID" 
                class="form-control" placeholder="Ticket Number" minlength="1">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-7">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                      <i class="fas fa-calendar-alt"  [class.green-icon]="Deposit.valid" [class.red-icon]="Deposit.invalid && Deposit.touched"></i>
                    </div>
                  </div>
                  <input name="Deposit" #Deposit="ngModel" [(ngModel)]="service.formData.Deposit" class="form-control"
                    placeholder="Deposit" minlength="1">
                </div>
              </div>
              <div class="form-group col-md-5">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                      <i class="fas fa-key"  [class.green-icon]="tip.valid" [class.red-icon]="tip.invalid && tip.touched"></i>
                    </div>
                  </div>
                  <input type="tip" name="tip" #tip="ngModel" [(ngModel)]="service.formData.tip" class="form-control" placeholder="Tip (optional)"
                  required  minlength="1">
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Submit</button>
            </div>
          </form>
    </div>