<div class="row">
<div class = "col-md-7">
<head>
  <!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Draggable - Auto-scroll</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">-->
  <style>
  #draggable, #draggable2, #draggable3, #draggable4, #draggable4, #draggable5, #draggable6, #draggable7, #draggable8, #draggable9, #draggable10 { width: 100px; height: 100px; padding: .5em; float: left; margin: 0 10px 10px 0; background-color: #566573; }
  </style> 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#draggable" ).draggable({ scroll: true });
    $( "#draggable2" ).draggable({ scroll: true });
    $( "#draggable3" ).draggable({ scroll: true });
    $( "#draggable4" ).draggable({ scroll: true });
	$( "#draggable5" ).draggable({ scroll: true });
	$( "#draggable6" ).draggable({ scroll: true });
	$( "#draggable7" ).draggable({ scroll: true });
	$( "#draggable8" ).draggable({ scroll: true });
	$( "#draggable9" ).draggable({ scroll: true });
	$( "#draggable10" ).draggable({ scroll: true });
  } );
  </script>
  <script>
	clicked = true;
		$(document).ready(function(){
			$("button").click(function(){
				if(clicked){
					$(this).css('background-color', 'red');
					clicked  = false;
				} else {
					$(this).css('background-color', 'blue');
					clicked  = true;
				}   
			});
		});
  </script>
</head>
<body>
 
<div id="draggable" onclick="colorChange">
  <p>Table1</p>
  <button onclick="colorChange">Seat</button>
</div>
 
<div id="draggable2" >
  <p>Table2</p>
  <button onclick="colorChange">Seat</button>
</div>
 
<div id="draggable3" >
  <p>Table3</p>
  <button onclick="colorChange">Seat</button>
</div>
<div id="draggable4" >
  <p>Table4</p>
  <button onclick="colorChange">Seat</button>
</div>
<div id="draggable5" >
  <p>Table5</p>
  <button onclick="colorChange">Seat</button>
</div>
<div id="draggable6" >
  <p>Table6</p>
  <button onclick="colorChange">Seat</button>
</div>
<div id="draggable7" >
  <p>Table7</p>
  <button onclick="colorChange">Seat</button>
</div>
<div id="draggable8" >
  <p>Table8</p>
  <button onclick="colorChange">Seat</button>
</div>
<div id="draggable9" >
  <p>Table9</p>
  <button onclick="colorChange">Seat</button>
</div>
<div id="draggable10" >
  <p>Table10</p>
  <button onclick="colorChange">Seat</button>
</div>
 
<div style="height: 5000px; width: 1px;"></div>
 
 
</body>

</div>
</div>