<div class="jumbtron">
  <h1 class="display-4 text-center">Create a Ticket</h1>
  <hr>
  <div class="row">
      <div class="col-md-5">
          <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
              <input type="hidden" name="order_ID" [value]="service.formData.order_ID">
              <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="order_DATETIME.valid" [class.red-icon]="order_DATETIME.invalid && order_DATETIME.touched"></i>
                      </div>
                    </div>
                    <input name="Date" #order_DATETIME="ngModel" [(ngModel)]="service.formData.order_DATETIME" class="form-control"
                  placeholder="Date" required>
                  </div>
              </div>
              <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text bg-white">
                        <i class="far fa-tally"  [class.red-icon]="server_ID.valid" [class.red-icon]="server_ID.invalid && server_ID.touched"></i>
                      </div>
                    </div>
                    <input name="server_ID" #server_ID="ngModel" [(ngModel)]="service.formData.server_ID" 
                    class="form-control" placeholder="Server ID" maxlength="10" minlength="1">
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-7">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text bg-white">
                            <i class="fas"  [class.green-icon]="order_QTY.valid" [class.red-icon]="order_QTY.invalid && order_QTY.touched"></i>
                          </div>
                        </div>
                        <input name="order_QTY" #order_QTY="ngModel" [(ngModel)]="service.formData.order_QTY" class="form-control"
                          placeholder="Quantity" maxlength="10" minlength="1">
                      </div>
                    </div>
                    <div class="form-group col-md-5">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                              <i class="fas"  [class.green-icon]="order_Name.valid" [class.red-icon]="order_Name.invalid && order_Name.touched"></i>
                            </div>
                          </div>
                          <input type="order_Name" name="order_Name" #prod_ID="ngModel" [(ngModel)]="service.formData.order_Name" class="form-control" placeholder="Order Name"
                          required  maxlength="10" minlength="1">
                        </div>
                      </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Submit</button>
                  </div>
                </form>
          </div>
                <div class="col-md-7">
                    <table class="table table-hover">
                        <tr>
                            <th>Quantity</th>
                            <th>Total</th> 
                            <th>Item</th>
                            <th>Open</th>
                            <th>Server</th>
                            <th>Ticket Number</th>
                            <th>Delete</th>
                          </tr>
                        <tr *ngFor="let pd of service.list">
                          <td (click)="populateForm(pd)">{{pd.order_QTY}}</td>
                          <td (click)="populateForm(pd)">{{pd.order_Total}}</td>
                          <td (click)="populateForm(pd)">{{pd.order_Name}}</td>
                          <td (click)="populateForm(pd)">{{pd.isOpen}}</td>
                          <td (click)="populateForm(pd)">{{pd.server_ID}}</td>
                          <td (click)="populateForm(pd)">{{pd.order_ID}}</td>
                          <td>
                            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.order_ID)"></i>
                          </td>
                          <td>
                              <a routerLink="/user-profile"><button class="btn btn-success pull-right" >Cash Out</button></a>
                          </td>
                        </tr>
                      </table>
                </div>
                <div class="col-md-7">
                  <button class = "btn btn-primary btn sm" data-target="#loginModal" data-toggle="modal">Clear All</button>
                  <div class = "modal col-md-7" id = "loginModal" tabindex = "-1">
                    <div class = "modal-dialog">
                      <div class = "modal-content">
                        <div class = "modal-header">
                          <button class = "close" data-dismiss="modal">&times;</button>
                          <h4 class = "modal-title">Login</h4>
                        </div>
                        <div class = "modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="inputUserName">Username</label>
                                    <input class="form-control" placeholder="Login Username"
                                            type="text" id="inputUserName" />
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input class="form-control" placeholder="Login Password"
                                            type="password" id="inputPassword" />
                                </div>
                            </form>
                        </div>
                        <div class = "modal-footer">
                          <button class = "btn btn-primary">Login</button>
                          <button class = "btn btn-primary" data-dismiss = "modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
  </div>




